.buttonContainer
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button
{
  width: 50vw;

  height: 10vh;
  margin: 10px;
}

h1
{
  color: #E0C05E;
  text-shadow: black 0px 0px 7px;
  text-align: center;
  background: transparent;
}

p
{
  font-size: 20px;
  color: #E0C05E;
  text-shadow: black 0px 0px 7px;
  background: transparent;
}
